<div class="col-lg-12" style="width: 85%" ng-controller="burdendiseaseController">
    <br>

    <div class="col-md-12"><div style="color:#026ab3; font-size:20px; font-weight:bold; padding:4px; border-bottom:2px #026ab3 solid;">	Thank you for Your Registration</div>
<br>
            <p style="margin-left: 2%; color: black;">Dear {{usernameval}},</p>
            <div style="margin-left: 2%; color: black;">

                <p style="color: black;text-align: left; float: left;">Reference Number : <strong style="color: #093e99;">{{referencenumberval}}</strong></p>

</br>
                </br>
                                 </br>
                 <p>Thank you for helping us give a voice to all HeartKids and their carers. If you want to know the status of survey please mail us at "abcd@heartkids.com" with your reference ID - {{referencenumberval}}. </p>

                 <p> If you would like further information on congenital heart conditions and treatments, please <b style="color:#026ab3;">click here</b> . If you have any questions, feel free to email us on  <b style="color:#026ab3;">xxxxxyyyzzz@tcs.com</b> or call us on <b style="color:#026ab3;">+61 0xyyyyzzz</b> or visit the <a style="color:#026ab3;">HeartKids Australia</a> website <b style="color:#026ab3;">www.heartkid.au</b>.</p>

                 <p> If you would like a health professional to call you, <a style="color:#026ab3;">click here</a> and submit the form.</p>

                <p style="margin-bottom: 7%;"> An email has been sent to you along with the reference number. Please get back to us in case you need any support.</p>
        </div>
    </div>
</div>
    </div>