<div class="col-lg-12" style="width: 85%" ng-controller="burdendiseaseController">
    <br>
    <br>
                <div class="txtcntnt">
                    <p class="conctfrmt"><b class="hearticon">&#9829;</b>	Please help us quantify how living with your disease impacts your life</p>
                    <p class="conctfrmt"><b class="hearticon">&#9829;	</b>We want doctors and government to know what you deal with</p>
                    <p class="conctfrmt"><b class="hearticon">&#9829;</b>	This will help us to make sure the services and support that is needed is in place for everyone.</p></div>

                    <div class="headerpane">Doctor Visits</div>
                <div class="control">
                    <label class=" col-sm-2" style="width: 100%;">How many times have you seen your heart doctor (cardiologist) in the last 3 years ? <em>*</em></label>



                            <table class="table bs-example" >

                        <tbody>
                        <tr style=" padding: 4px; " >
                            <td style="" class="col-md-1 barstyle {{myClass}}" ng-repeat="node in nodes"
                                ng-click="nodeclick(node.id)"
                                ng-model="formData.heartdocvisit" ng-class="getClass(node.id)"   ng-mouseenter="myClass='redclass'"
                                ng-mouseleave="myClass = ''" >
                                {{node.rate}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="control">
                    <label class=" col-sm-2" style="width: 100%;">How many times have you seen your local doctor (GP) in the last 3 years ? <em>*</em></label>

                    <table class="table bs-example" >

                        <tbody>
                        <tr style=" padding: 4px; " >
                            <td style="" class="col-md-1 barstyle {{myClass}}" ng-repeat="node in nodes"
                                ng-click="nodeclick(node.id)"
                                ng-model="formData.localdoctorvisit" ng-class="getClass(node.id)"   ng-mouseenter="myClass='redclass'"
                                ng-mouseleave="myClass = ''" >
                                {{node.rate}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="control">
                    <label class=" col-sm-2" style="width: 100%;">How many times did you have to go to the Emergency Department last year ?  <em>*</em></label>

                    <table class="table bs-examplenode5">

                        <tbody>
                        <tr style=" padding: 4px; " >
                            <td style="" class="col-md-1 barstylenode5 {{myClass}}" ng-repeat="node in nodes1to5"
                                ng-click="emergdept(node.id)"
                                ng-model="formData.emergdeptvisit" ng-class="getenerClass(node.id)"   ng-mouseenter="myClass='redclass'"
                                ng-mouseleave="myClass = ''" >
                                {{node.rate}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="control">
                    <label class=" col-sm-2" style="width: 100%;">Are you / do you care for a person over the age of 16?<em>*</em></label>
                  <!--  <select  name="careage16" ng-model="formData.careage16" class="textfeildname yellow arrowupdown" ng-change="childtoadultdoc()"  style="width:25%;" ng-options="yesno for yesno in yesnoArray" required >
                        <option value="">&#45;&#45;Select&#45;&#45;</option> &lt;!&ndash; not selected / blank option &ndash;&gt;
                    </select>-->
                    <table class="radio-btn"><tr><td style=""><input type="radio" ng-model="formData.careage16" name="careage16" id="radio61" class="" value="yes" required/>  <label for="radio61" onclick>Yes</label></td><td><input type="radio" ng-model="formData.careage16" name="careage16" id="radio91" class=""  value="no" required/><label for="radio91" class="">No</label></td></tr></table>

                    <span ng-show="userForm.careage16.$dirty && userForm.careage16.$error.required" class="help-block" style="margin: auto;width: 55%;padding: 10px;">Do you care for a person over the age of 16 is mandatory</span>

                </div>

                <div class="control" ng-show="showchildtoheartdoc">
                    <label class=" col-sm-2" style="width: 100%;">Did you move from your child heart doctor to an adult doctor? </label>
                   <!-- <select  name="childtoadultdoc" ng-model="formData.childtoadultdoc" class="textfeildname yellow arrowupdown"  style="width:25%; " ng-options="chldad for chldad in yesnoArray" >
                        <option value="">&#45;&#45;Select&#45;&#45;</option> &lt;!&ndash; not selected / blank option &ndash;&gt;

                    </select>-->
                    <table class="radio-btn"><tr><td style=""><input type="radio" ng-model="formData.childtoadultdoc" name="childtoadultdoc" id="radio71" class="" value="yes" required/>  <label for="radio71" onclick>Yes</label></td><td><input type="radio" ng-model="formData.childtoadultdoc" name="childtoadultdoc" id="radio81" class=""  value="no" required/><label for="radio81" class="">No</label></td></tr></table>

                </div>
                <div class="headerpane">Mental Health Assesment</div>


                <div class="control">
                    <label class=" col-sm-2" style="width: 100%;">Have you experience any anxiety about your heart condition? <em>*</em></label>
                  <!--  <select  name="anxietycond" ng-model="formData.anxietycond" class="textfeildname yellow arrowupdown" ng-change="anxietycond()" style="width:25%; " ng-options="anxietycond for anxietycond in yesnoArray" required>
                        <option value="">&#45;&#45;Select&#45;&#45;</option> &lt;!&ndash; not selected / blank option &ndash;&gt;

                    </select>-->
                    <table class="radio-btn"><tr><td style=""><input type="radio" ng-change="anxietycond()" ng-model="formData.anxietycond" name="anxietycond" id="radio72" class="" value="yes" required/>  <label for="radio72" onclick>Yes</label></td><td><input type="radio" ng-model="formData.anxietycond" name="anxietycond" id="radio82" class=""  value="no" required/><label for="radio82" class="">No</label></td></tr></table>

                </div>
                <div class="control"  ng-show="anxietycondimpact">
                    <label class=" col-sm-2" style="background-color: #fff;color: #000;width: 100%;">What do you feel has been the impact of your heart condition on your level of anxiety / depression? </label>
                    <textarea type="textarea"  name ="anxietycondimpact"  class="" style="width: 100%;"  ng-model="formData.anxietycondimpact"></textarea>

                </div>


                <div style="margin-bottom: 5%;"></div>


                <div class="col-xs-6 col-xs-offset-3">
                    <button ui-sref="form.treatment" class="btn btn-block btn-info">
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>Previous
                    </button>
                </div>

                <div>

                    <button ui-sref="form.burden-add" class="" ng-disabled="" ng-click="savesurveyregistration()">
                        Next  <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </button></br>
                </div>
                <div style="margin-bottom: 3%;"></div>
                    </div>

