<div class="col-lg-12" style="width: 85%" ng-controller="burdendiseaseController">
<br>
    <br>
            <div class="txtcntnt" >
                <p class="conctfrmt"><b class="hearticon">&#9829;</b>&nbsp;&nbsp;Need another reason stated to continue to help us</p>
                <p class="conctfrmt"><b class="hearticon">&#9829;</b>&nbsp;&nbsp;We would like to advocate for you and your family member to government</p>
                <p class="conctfrmt"><b class="hearticon">&#9829;</b>&nbsp;&nbsp;No personal or identifiable information will be used</p>

            </div>

            <div class="headerpane">Quality of your care in the health system</div>
            <div class="control">
            <p class="conctfrmt">Do you know what your specific condition is called? <em>*</em></p>
                <table class="radio-btn"><tr><td style=""><input type="radio" ng-model="formData.conditioncalld" name="conditioncalld" id="radio61" class="" value="yes" required/>  <label for="radio61" onclick>Yes</label></td><td><input type="radio" ng-model="formData.conditioncalld" name="conditioncalld" id="radio71" class=""  value="no" required/><label for="radio71" class="">No</label></td></tr></table>

        </div>

            <div class="control">
                <p class="conctfrmt">What congenital heart condition were you diagnosed with? <em>*</em></p>
                <select  name="heartcondsselect" ng-model="formData.heartconds" class="textfeildname yellow arrowupdown dropdownstyle"  style="" ng-options="heartconds for heartconds in heartcondsArray">
                    <option value="">--Select--</option> <!-- not selected / blank option -->
                </select>
            </div>

            <div class="control">
                <p class="conctfrmt">Have you had corrective surgery on your heart?<em>*</em></p>
                <select  name="yesnoselect" ng-model="formData.surgeryheld" ng-change="surgeryheldchange()" class="textfeildname dropdownstyle yellow arrowupdown"  style="width:200px; border: 1px solid #ebe8ec; margin-bottom: 30px; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="yesno for yesno in yesnoArray" required >
                    <option value="">--Select--</option> <!-- not selected / blank option -->
                </select>
            </div>

            <div class="control">
                <p class="conctfrmt">If you had surgery, was it delayed? <em>*</em></p>
                <table class="radio-btn"><tr><td style=""><input type="radio" ng-model="formData.surgerydelay" name="surgerydelay" id="rc1" class="" value="yes" required/>  <label for="rc1" onclick>Yes</label></td><td><input type="radio" ng-model="formData.surgerydelay" name="surgerydelay" id="rc2" class=""  value="no" required/><label for="rc2" class="">No</label></td></tr></table>

            </div>
            <div class="control">
                <div class="conctfrmt">
                    <label>How many delays to the corrective surgery did you experience ? </label>
                    <table class="table bs-example" style="" >
                        <tbody>
                        <tr style="padding: 4px;">
                            <td style="" class="col-md-1 barstyle {{myClass}}" ng-repeat="node in nodes"
                                ng-click="Surgerydelaycount(node.id)"
                                ng-model="formData.surgerydelaycount" ng-class="SurgerydelaycountClass(node.id)"   ng-mouseenter="myClass='redclass'"
                                ng-mouseleave="myClass = ''" ng-required="formData.surgerydelay=='Yes'">
                                {{node.rate}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
    <br>
</div>

<style>

</style>